* {
  box-sizing: border-box;
}

body {
  font-family: Inter;
  background: #f1f1f1;
  padding: 0.1rem;
  flex-direction: column;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin-top: 0;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #444;
  letter-spacing: -1.8px;
}

button {
  border: solid 1px #ccc;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
  body {
    padding: 1rem;
  }
  h1 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 3rem;
  }
  h1 {
    font-size: 3rem;
  }
}
